<% result.each_index do | index | storyID = result.fetch(index) %>
  <% if index == 0 %>
    <div class="item"></div>
    <script>
      var element = $('.item:empty').first();
      element.html('loading...');
      element.load('getItem', {
        itemID: <%== storyID.to_json %>,
        });
    </script>

  <% else %>
    <% if index < 10 %>
      <div class="story">
        <%= storyID %> 
        <a class="btn btn-success"
             data-action="getItem"
             data-view="itemView"
             data-answers="{itemID: <%= storyID %>}">
             Load
          </a>

      </div>
    <% end %>
  <% end %>
<% end %>