<% result.each_index do | index | l = result.fetch(index) %>
  <% if l["foo"] %>
    <p>foo</p>
  <% end %>
  <% if !l["foo"] %>
    <p>bar</p>
  <% end %>
  <% if index != 2 %>
    <h2><%= index %>. <%= l["label"] %></h2>
  <% end %>
<% end %>
<br></br><br></br>
<h3>Lucy Goose</h3>
<div><b>Bold</b>&nbsp;<i>Italic</i></div>
<div>I &lt;3 &lt;b&gt;APIs&lt;/b&gt;</div>