<% result.each_index do | index | l = result.fetch(index) %>
  <% if l["foo"] %>
    <p>foo</p>
  <% end %>
  <% if !l["foo"] %>
    <p>bar</p>
  <% end %>
  <% if index != 2 %>
    <h2><%= index %>. <%= l["label"] %></h2>
  <% end %>
<% end %>