<% result.forEach(function(l, index) { %>
  <% if(l.foo) { %>
    <p>foo</p>
  <% } %>
  <% if(!l.foo) { %>
    <p>bar</p>
  <% } %>
  <% if(index != 2) { %>
    <h2><%= index %>. <%= l.label %></h2>
  <% } %>
<% }); %>
<br></br><br></br>
<h3>Lucy Goose</h3>
<div><b>Bold</b>&nbsp;<i>Italic</i></div>
<div>I &lt;3 &lt;b&gt;APIs&lt;/b&gt;</div>